# Question 1

# What time of year are pets more likely to get adopted?

## import packages

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt
%matplotlib inline

## read in data

In [19]:
shelter = pd.read_csv("C:/Users/hazre/OneDrive/Desktop/Pontiac/Animal_Shelter_Animals.csv")

In [20]:
shelter.head()

,id,intakedate,intakereason,istransfer,sheltercode,identichipnumber,animalname,breedname,basecolour,speciesname,animalage,sexname,location,movementdate,movementtype,istrial,returndate,returnedreason,deceaseddate,deceasedreason,diedoffshelter,puttosleep,isdoa
0,15801,11/28/2009 12:00:00 AM,Moving,False,C09115463,0A115D7358,Jadzia,Domestic Short Hair,Tortoiseshell,Cat,11 years 8 months.,Female,Adoptable Cat Glass Colony,05/13/2017 12:00:00 AM,Adoption,False,NaN,Stray,NaN,Died in care,False,False,False
1,15932,12/08/2009 12:00:00 AM,Moving,False,D09125594,0A11675477,Gonzo,German Shepherd Dog/Mix,Tan,Dog,10 years 9 months.,Male,Adoptable Dogs,04/24/2017 12:00:00 AM,Adoption,False,NaN,Stray,NaN,Died in care,False,False,False
2,28859,08/10/2012 12:00:00 AM,Abandoned,False,D12082309,0A13253C7B,Maggie,Shep Mix/Siberian Husky,Various,Dog,8 years 1 month.,Female,Canine intake room,04/15/2017 12:00:00 AM,Adoption,False,02/28/2020 12:00:00 AM,Stray,NaN,Died in care,False,False,False
3,28859,08/10/2012 12:00:00 AM,Abandoned,False,D12082309,0A13253C7B,Maggie,Shep Mix/Siberian Husky,Various,Dog,8 years 1 month.,Female,Canine intake room,02/29/2020 12:00:00 AM,Reclaimed,False,NaN,Stray,NaN,Died in care,False,False,False
4,30812,01/11/2013 12:00:00 AM,Abandoned,False,C1301091,0A13403D4D,Pretty Girl,Domestic Short Hair,Dilute tortoiseshell,Cat,10 years 6 months.,Female,Stray Cats,04/18/2017 12:00:00 AM,Foster,False,05/29/2018 12:00:00 AM,Stray,NaN,Died in care,False,False,False

In [4]:
pd.options.display.max_columns=None

In [5]:
shelter.head()

,id,intakedate,intakereason,istransfer,sheltercode,identichipnumber,animalname,breedname,basecolour,speciesname,animalage,sexname,location,movementdate,movementtype,istrial,returndate,returnedreason,deceaseddate,deceasedreason,diedoffshelter,puttosleep,isdoa
0,15801,11/28/2009 12:00:00 AM,Moving,False,C09115463,0A115D7358,Jadzia,Domestic Short Hair,Tortoiseshell,Cat,11 years 8 months.,Female,Adoptable Cat Glass Colony,05/13/2017 12:00:00 AM,Adoption,False,NaN,Stray,NaN,Died in care,False,False,False
1,15932,12/08/2009 12:00:00 AM,Moving,False,D09125594,0A11675477,Gonzo,German Shepherd Dog/Mix,Tan,Dog,10 years 9 months.,Male,Adoptable Dogs,04/24/2017 12:00:00 AM,Adoption,False,NaN,Stray,NaN,Died in care,False,False,False
2,28859,08/10/2012 12:00:00 AM,Abandoned,False,D12082309,0A13253C7B,Maggie,Shep Mix/Siberian Husky,Various,Dog,8 years 1 month.,Female,Canine intake room,04/15/2017 12:00:00 AM,Adoption,False,02/28/2020 12:00:00 AM,Stray,NaN,Died in care,False,False,False
3,28859,08/10/2012 12:00:00 AM,Abandoned,False,D12082309,0A13253C7B,Maggie,Shep Mix/Siberian Husky,Various,Dog,8 years 1 month.,Female,Canine intake room,02/29/2020 12:00:00 AM,Reclaimed,False,NaN,Stray,NaN,Died in care,False,False,False
4,30812,01/11/2013 12:00:00 AM,Abandoned,False,C1301091,0A13403D4D,Pretty Girl,Domestic Short Hair,Dilute tortoiseshell,Cat,10 years 6 months.,Female,Stray Cats,04/18/2017 12:00:00 AM,Foster,False,05/29/2018 12:00:00 AM,Stray,NaN,Died in care,False,False,False

In [6]:
shelter.columns

Index(['id', 'intakedate', 'intakereason', 'istransfer', 'sheltercode',
       'identichipnumber', 'animalname', 'breedname', 'basecolour',
       'speciesname', 'animalage', 'sexname', 'location', 'movementdate',
       'movementtype', 'istrial', 'returndate', 'returnedreason',
       'deceaseddate', 'deceasedreason', 'diedoffshelter', 'puttosleep',
       'isdoa'],
      dtype='object')

## data wrangling

### keeping columns

In [21]:
shelter1 = shelter[{'breedname', 'movementdate', 'movementtype',  'speciesname' }]

In [22]:
shelter1.columns

Index(['speciesname', 'movementdate', 'breedname', 'movementtype'], dtype='object')

In [23]:
shelter1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19341 entries, 0 to 19340
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   speciesname   19341 non-null  object
 1   movementdate  19284 non-null  object
 2   breedname     19285 non-null  object
 3   movementtype  19341 non-null  object
dtypes: object(4)
memory usage: 604.5+ KB

In [24]:
shelter1.head()

  speciesname            movementdate                breedname movementtype
0         Cat  05/13/2017 12:00:00 AM      Domestic Short Hair     Adoption
1         Dog  04/24/2017 12:00:00 AM  German Shepherd Dog/Mix     Adoption
2         Dog  04/15/2017 12:00:00 AM  Shep Mix/Siberian Husky     Adoption
3         Dog  02/29/2020 12:00:00 AM  Shep Mix/Siberian Husky    Reclaimed
4         Cat  04/18/2017 12:00:00 AM      Domestic Short Hair       Foster

In [25]:
shelter1.breedname.value_counts()

Domestic Short Hair                           9615
Domestic Medium Hair                           903
Bully Breed Mix                                638
Domestic Long Hair                             638
Labrador Retriever                             266
                                              ...
Yorkshire Terrier Yorkie/Poodle, Miniature       1
Doberman Pinscher/German Shepherd Dog            1
Border Collie/Terrier                            1
Pug/Mix                                          1
Shep Mix/Border Collie                           1
Name: breedname, Length: 1075, dtype: int64

### do we need to do anything with the breedname?

### or is just species ok?

In [26]:
shelter1.speciesname.value_counts()

Cat                 11670
Dog                  6644
House Rabbit          353
Guinea Pig            188
Rat                   164
Bird                   80
Livestock              40
Hamster                26
Mouse                  20
Hedgehog               18
Gerbil                 18
Snake                  14
Ferret                 14
Wildlife - other       14
Pig                    13
Lizard                 13
Chicken                10
Turtle                  8
Sugar Glider            7
Fish                    6
Opossum                 6
Goat                    5
Chinchilla              4
Tortoise                3
Raccoon                 1
Squirrel                1
Tarantula               1
Name: speciesname, dtype: int64

### need to subset for cats and dogs only

In [35]:
import pandas as pd
import numpy as np
from scipy.stats import norm
from scipy import stats

In [36]:
shelter1.movementdate.value_counts()

08/17/2019 12:00:00 AM    112
10/04/2019 12:00:00 AM     68
11/12/2021 12:00:00 AM     61
07/17/2021 12:00:00 AM     46
08/10/2019 12:00:00 AM     44
                         ...
11/26/2016 12:00:00 AM      1
12/01/2019 12:00:00 AM      1
02/21/2021 12:00:00 AM      1
12/09/2019 12:00:00 AM      1
03/07/2017 12:00:00 AM      1
Name: movementdate, Length: 1709, dtype: int64

In [37]:
pd.options.display.max_columns=None

### need to separate out month, day, year- remove time stamp

In [42]:
shelter1.movementtype.value_counts()

Adoption            11060
Foster               4975
Reclaimed            2485
Transfer              711
None                   57
Released To Wild       36
Escaped                 9
Stolen                  8
Name: movementtype, dtype: int64

## missing data to be removed