# import packages

In [4]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels
import scipy
from scipy import stats
from scipy.stats import boxcox
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison
from statsmodels.stats.proportion import proportions_ztest
from statsmodels.stats.proportion import proportions_chisquare
from sklearn.metrics import ConfusionMatrixDisplay

# read in data

In [5]:
shelterMonthName = pd.read_csv("C:/Users/hazre/OneDrive/Desktop/Pontiac/shelterByMonth.csv")

### check it

In [6]:
shelterMonthName.head()

,id,intakereason,animalname,breedname,basecolour,speciesname,animalage,sexname,movementtype,intakeDate,movementDate,CatAgeGroup,movementDate1,movementDate2,movementDate3
0,15801,Moving,Jadzia,Domestic Short Hair,Tortoiseshell,Cat,11 years 8 months.,Female,Adoption,11/28/2009,05/13/2017,Senior,5,13,2017
1,15932,Moving,Gonzo,German Shepherd Dog/Mix,Tan,Dog,10 years 9 months.,Male,Adoption,12/08/2009,04/24/2017,Mature,4,24,2017
2,28859,Abandoned,Maggie,Shep Mix/Siberian Husky,Various,Dog,8 years 1 month.,Female,Adoption,08/10/2012,04/15/2017,Mature,4,15,2017
3,28859,Abandoned,Maggie,Shep Mix/Siberian Husky,Various,Dog,8 years 1 month.,Female,Reclaimed,08/10/2012,02/29/2020,Mature,2,29,2020
4,30812,Abandoned,Pretty Girl,Domestic Short Hair,Dilute tortoiseshell,Cat,10 years 6 months.,Female,Foster,01/11/2013,04/18/2017,Mature,4,18,2017

# recode movementDate1 to reflect month names

In [7]:
shelterMonthName.movementDate1.value_counts()

8     2109
7     2095
10    1862
9     1816
6     1798
5     1534
11    1501
12    1403
1     1183
4     1158
3      976
2      873
Name: movementDate1, dtype: int64

In [15]:
def movementDate1R (series):
    if series == 1:
        return "January"
    if series == 2:
        return "February"
    if series == 3:
        return "March"
    if series == 4:
        return "April"
    if series == 5:
        return "May"
    if series == 6:
        return "June"
    if series == 7:
        return "July"
    if series == 8:
        return "August"
    if series == 9:
        return "September"
    if series == 10:
        return "October"
    if series == 11:
        return "November"
    if series == 12:
        return "December"
shelterMonthName["movementDate1R"]= shelterMonthName["movementDate1"].apply(movementDate1R)

### check and see if it worked

In [16]:
shelterMonthName.head()

,id,intakereason,animalname,breedname,basecolour,speciesname,animalage,sexname,movementtype,intakeDate,movementDate,CatAgeGroup,movementDate1,movementDate2,movementDate3,movementDate1R
0,15801,Moving,Jadzia,Domestic Short Hair,Tortoiseshell,Cat,11 years 8 months.,Female,Adoption,11/28/2009,05/13/2017,Senior,5,13,2017,May
1,15932,Moving,Gonzo,German Shepherd Dog/Mix,Tan,Dog,10 years 9 months.,Male,Adoption,12/08/2009,04/24/2017,Mature,4,24,2017,April
2,28859,Abandoned,Maggie,Shep Mix/Siberian Husky,Various,Dog,8 years 1 month.,Female,Adoption,08/10/2012,04/15/2017,Mature,4,15,2017,April
3,28859,Abandoned,Maggie,Shep Mix/Siberian Husky,Various,Dog,8 years 1 month.,Female,Reclaimed,08/10/2012,02/29/2020,Mature,2,29,2020,February
4,30812,Abandoned,Pretty Girl,Domestic Short Hair,Dilute tortoiseshell,Cat,10 years 6 months.,Female,Foster,01/11/2013,04/18/2017,Mature,4,18,2017,April