# Import package

In [11]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.metrics import classification_report

In [ ]:
# Q3: What influeced the number of animals in a shelter from 2019 to 2020?

# Read in data

In [2]:
shelter = pd.read_csv(r'C:\Users\ardit\Desktop\Final-Project\shelter.csv')
pd.set_option('display.max_columns', None)
shelter.head()

,id,intakereason,breedname,speciesname,sexname,movementtype,intakeDate,movementDate,CatAgeGroup,DogAgeGroup,movementMonth,movementDay,movementYear,intakeMonth,intakeDay,intakeYear
0,15801,Moving,Domestic Short Hair,Cat,Female,Adoption,11/28/2009,05/13/2017,Senior,Senior,5,13,2017,11,28,2009
1,15932,Moving,German Shepherd Dog/Mix,Dog,Male,Adoption,12/08/2009,04/24/2017,Mature,Senior,4,24,2017,12,8,2009
2,28859,Abandoned,Shep Mix/Siberian Husky,Dog,Female,Adoption,08/10/2012,04/15/2017,Mature,Mature,4,15,2017,8,10,2012
3,28859,Abandoned,Shep Mix/Siberian Husky,Dog,Female,Reclaimed,08/10/2012,02/29/2020,Mature,Mature,2,29,2020,8,10,2012
4,30812,Abandoned,Domestic Short Hair,Cat,Female,Foster,01/11/2013,04/18/2017,Mature,Senior,4,18,2017,1,11,2013

# Evaluation Question #3: What influenced the number of animals in a shelter from 2019 to 2020?

In [3]:
shelter.dtypes

id                int64
intakereason     object
breedname        object
speciesname      object
sexname          object
movementtype     object
intakeDate       object
movementDate     object
CatAgeGroup      object
DogAgeGroup      object
movementMonth     int64
movementDay       int64
movementYear      int64
intakeMonth       int64
intakeDay         int64
intakeYear        int64
dtype: object

In [16]:
shelter.intakeYear.value_counts()

2019    4224
2018    3910
2021    3414
2017    3335
2020    3116
2022      51
2016       6
2013       4
2009       2
2012       2
Name: intakeYear, dtype: int64

In [28]:
shelter1 = shelter[(shelter.intakeYear != 2009) & (shelter.intakeYear != 2012) & (shelter.intakeYear != 2013)
                  & (shelter.intakeYear != 2016) & (shelter.intakeYear != 2017) & (shelter.intakeYear != 2018)
                  & (shelter.intakeYear != 2021) & (shelter.intakeYear != 2022)]
shelter1.head()

,id,intakereason,breedname,speciesname,sexname,movementtype,intakeDate,movementDate,CatAgeGroup,DogAgeGroup,movementMonth,movementDay,movementYear,intakeMonth,intakeDay,intakeYear
3438,58511,Abandoned,Pitbull,Dog,Female,Adoption,01/10/2019,01/30/2018,Adult,Adult,1,30,2018,1,10,2019
3439,58511,Abandoned,Pitbull,Dog,Female,Foster,01/10/2019,02/15/2019,Adult,Adult,2,15,2019,1,10,2019
3440,58511,Abandoned,Pitbull,Dog,Female,Foster,01/10/2019,03/08/2019,Adult,Adult,3,8,2019,1,10,2019
3441,58511,Abandoned,Pitbull,Dog,Female,Adoption,01/10/2019,03/26/2019,Adult,Adult,3,26,2019,1,10,2019
3442,58511,Abandoned,Pitbull,Dog,Female,Foster,01/10/2019,08/23/2019,Adult,Adult,8,23,2019,1,10,2019

In [ ]:
# Dummy code years 
dummy_years = pd.get_dummies(df['model_year'], drop_first=True)
dummy_years